/* Azul para el texto "UES" y los detalles de la cruz */
.text-ues {
    color: #004B91;
}

/* Amarillo para el fondo */
.bg-yellow {
    background-color: #FFD700;
}

/* Azul oscuro para el fondo */
.bg-dark-blue {
    background-color: #004B91 !important;
    color: white;
}

/* Blanco para el contorno de la cruz */
.contour-white {
    color: #FFFFFF;
}

/* Azul oscuro para el texto en la parte inferior */
.text-dark-blue {
    color: #002D62;
}
